@using ReportWeb.Models.Preserie
@using ReportWeb.Models

<div class="row">
    <div class="col-sm-2"><label>Codice telaio</label>@Html.TextBox("txtCodiceTelaio", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Pezzi telaio</label>@Html.TextBox("txtPezziTelaio", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Durata ciclo</label>@Html.TextBox("txtDurataCiclo", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Ricetta</label>@Html.TextBox("txtRicette", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>

<div class="row">
    <div class="col-sm-2"><input type="button" onclick="InserisciRiga();" class="btn btn-primary" value="Inserisci lavorazione" /></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblDettaglio"></table>

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $('#tblDettaglio').on('click', 'a', function () {
            $(this).closest('tr').remove();
        })
    });

    function InserisciRiga() {

        var codiceTelaio = $('#txtCodiceTelaio').val();
        var pezziTelaio = $('#txtPezziTelaio').val();
        var durataCiclo = $('#txtDurataCiclo').val();
        var ricette = $('#txtRicette').val();

        var messaggio = '';
        var esito = true;
        if (ricette == null || ricette == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare la ricetta" + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if (!esito) return;

        var tr = '<tr>';
        tr += '<input type="hidden" value =""  class="hdIDDETTAGLIO" />';
        tr += '<td width="17%">' + codiceTelaio + '</td>';
        tr += '<td width="17%">' + pezziTelaio + '</td>';
        tr += '<td width="17%">' + durataCiclo + '</td>';
        tr += '<td width="17%">' + ricette + '</td>';
        tr += '<td ><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>';
        tr += '<\tr>';
        $('#tblDettaglio').append(tr);

        $("#txtCodiceTelaio").val('');
        $("#txtPezziTelaio").val('');
        $("#txtDurataCiclo").val('');
        $("#txtRicette").val('');
    }

    function GetTabellaDettaglio() {

        var rowCount = $('table#tblDettaglio tr:last').index() + 1;
        var messaggio = '';

        var data = [];
        var trs = $('#tblDettaglio > tr');
        for (i = 0; i < trs.length; i++) {
            var tr = trs[i];
            var IDDETTAGLIO = $('.hdIDDETTAGLIO', tr).val();

            if (IDDETTAGLIO == undefined) IDDETTAGLIO = -1;
            if (IDDETTAGLIO == '') IDDETTAGLIO = -1;

            var tdCodiceTelaio = $(tr).find('td')[0];
            var codiceTelaio = $(tdCodiceTelaio).text().trim();

            var tdPezziTelaio = $(tr).find('td')[1];
            var pezziTelaio = $(tdPezziTelaio).text().trim();

            var tdDurataCiclo = $(tr).find('td')[2];
            var durataCiclo = $(tdDurataCiclo).text().trim();

            var tdRicetta = $(tr).find('td')[3];
            var ricetta = $(tdRicetta).text().trim();


            var dettaglio = {
                'Telaio': codiceTelaio, 'PezziTelaio': pezziTelaio, 'Durata': durataCiclo, 'Ricetta': ricetta
            };
            data.push(dettaglio);
        }

        var dettagli = JSON.stringify(data);

        return dettagli;

    }

</script>