@using ReportWeb.Models.Preserie.JSON
@using ReportWeb.Models
@model List<SaldaturaJson>

<div class="row">
    <div class="col-sm-2"><label>Piazzatura</label>@Html.DropDownList("ddlPiazzatura", new SelectList(ViewData["Piazzatura"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>

<div class="row">
    <div class="col-sm-2"><input type="button" onclick="InserisciRiga();" class="btn btn-primary" value="Inserisci lavorazione" /></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblDettaglio"></table>

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $('#tblDettaglio').on('click', 'a', function () {
            $(this).closest('tr').remove();
        })

                    @foreach(SaldaturaJson elemento in Model)
        {
            <text>
        InsertTR('@elemento.Piazzatura');
        </text>
    }

    });

    function InserisciRiga() {

        var piazzatura = $("#ddlPiazzatura").find("option:selected").text();
        var messaggio = '';
        var esito = true;
        if (piazzatura == null || piazzatura == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare la piazzatura" + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if (!esito) return;

        InsertTR(piazzatura);

        $("#txtPiazzatura").val('');
    }

    function InsertTR(piazzatura) {
        var tr = '<tr>';
        tr += '<input type="hidden" value =""  class="hdIDDETTAGLIO" />';
        tr += '<td width="17%">' + piazzatura + '</td>';
        tr += '<td ><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>';
        tr += '<\tr>';
        $('#tblDettaglio').append(tr);
    }

    function GetTabellaDettaglio() {

        var rowCount = $('table#tblDettaglio tr:last').index() + 1;
        var messaggio = '';

        var data = [];
        var trs = $('#tblDettaglio > tr');
        for (i = 0; i < trs.length; i++) {
            var tr = trs[i];
            var IDDETTAGLIO = $('.hdIDDETTAGLIO', tr).val();

            if (IDDETTAGLIO == undefined) IDDETTAGLIO = -1;
            if (IDDETTAGLIO == '') IDDETTAGLIO = -1;

            var tdPiazzatura = $(tr).find('td')[0];
            var piazzatura = $(tdPiazzatura).text().trim();

            var dettaglio = {
                'Piazzatura': piazzatura
            };
            data.push(dettaglio);
        }

        var dettagli = JSON.stringify(data);

        return dettagli;

    }

</script>