<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google" content="notranslate">

    <title>Web Report</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site_1.0.2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
    <link href="~/Content/Menu.css" rel="stylesheet" />
    <script src="~/Scripts/External/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/External/bootstrap.min.js"></script>
    <script src="~/Scripts/External/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/External/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/Menu.js"></script>
    <script src="~/Scripts/RWCommon-1.3.10.js"></script>

</head>
<body>

    <div>
        @RenderBody()
    </div>
    <div id="divInfoAggiuntive"></div>
</body>
</html>
