@using ReportWeb.Models.ALE
@{
    ViewBag.Title = "ALE Approvazione";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Addebito Lavoranti Esterni - Approvazione</h2>
</div>


<div class="content-scheda" style="overflow-y:auto; overflow-x:hidden; height:750px">
    <div class="box" id="sectionDatiGenerali">
        <div class="box-header with-border">
            <h4 class="box-title text-bold">Nuovi gruppi da approvare</h4>
            <div class="box-tools pull-right">
                <button id="btnCollapseDatiGenerali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-group-sm">
            <div id="divGruppiDaApprovare">
            </div>
            <label class="text-red input-sm" id="lblMessage"></label>
        </div>
    </div>
    <div class="box box-primary" id="sectionTaglio">
        <div class="box-header with-border">
            <h4 class="box-title text-bold">Gruppi approvati</h4>
            <div class="box-tools pull-right">
                <button id="btnCollapseTaglio" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="divGruppiApprovati">

            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function ()
    {
        CaricaGruppiDaApprovare();
        CaricaGruppiApprovati();
    });

    function CaricaGruppiDaApprovare()
    {

        var url = '@Url.Action("CaricaGruppiDaApprovare", "ALE")';
        $.ajax({
            url: url,
            data: { },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGruppiDaApprovare').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function CaricaGruppiApprovati()
    {
        var url = '@Url.Action("CaricaGruppiApprovati", "ALE")';
        $.ajax({
            url: url,
            data: {},
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGruppiApprovati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>