@using ReportWeb.Models.ALE
@{
    ViewBag.Title = "ALE Valorizzazione";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="content-top">
    <h2>Addebito Lavoranti Esterni - Valorizzazione</h2>

    <div class="box">
        <div class="box-body form-group-sm">
            <h3>Nuovi gruppi da valorizzare</h3>
            <div id="divGruppiDaValorizzare">
            </div>
            <label class="text-red input-sm" id="lblMessage"></label>
        </div>
    </div>
    <div class="box">
        <div class="box-body form-group-sm">
            <h3>Gruppi valorizzati</h3>
            <div id="divGruppiValorizzati">

            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {
        CaricaGruppiDaValorizzare();
        CaricaGruppiValorizzati();
    });

    function CaricaGruppiDaValorizzare()
    {

        var url = '@Url.Action("CaricaGruppiDaValorizzare", "ALE")';
        $.ajax({
            url: url,
            data: { },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGruppiDaValorizzare').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function CaricaGruppiValorizzati()
    {
        var url = '@Url.Action("CaricaGruppiValorizzati", "ALE")';
        $.ajax({
            url: url,
            data: {},
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGruppiValorizzati').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function Addebita()
    {
        var addebiti = [];
        $('.chkRWALE').each(function ()
        {

            var checked = $(this).prop('checked');
            if (checked)
            {
                var trCheckbox = $(this).closest('tr');
                var IdAleDettaglio = $(".hdIdAleDettaglio", trCheckbox).val();
                var qta = $(".rwqta", trCheckbox).val();
                var nota = $(".rwtxt", trCheckbox).val();

                var addebito = {
                    'IdAleDettaglio': IdAleDettaglio, 'Qta': qta, 'Nota': nota
                };
                addebiti.push(addebito);
            }
        });

        var esito = true;
        var messaggio = '';
        if (addebiti.length == 0)
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "selezionare almeno un addebito" + "</br>";
            esito = false;
        }

        var totale = 0;
        for (var i = 0; i < addebiti.length; i++)
        {
            var qta = addebiti[i].Qta;
            if (qta == '')
            {
                $('#.lblMessage').val("Ci sono addebiti senza quantità");
                return;
            }
            else
                totale = totale + parseInt(qta);
        }
        if (esito && totale == 0)
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "le quantità degli addebiti sono tutte zero" + "</br>";
            esito = false;
        }

        var lavorante = $('#ddlLavoranti').val();
        if (lavorante == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il lavorante esterno a cui addebitare le lavorazioni" + "</br>";
            esito = false;
        }

        $('#lblMessage').html(messaggio);

        if (!esito)
            return;

        var txtNotaGruppo = $('#txtNotaGruppo').val();
        var addebitiJson = JSON.stringify(addebiti);

        var url = '@Url.Action("Addebita", "ALE")';
        $.ajax({
            url: url,
            data: { NotaGruppo: txtNotaGruppo, Lavorante: lavorante, Addebiti: addebitiJson },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaNuoviElementiDaAddebitare();
                CaricaGruppiAddebitatiPartial();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>