@using ReportWeb.Models.Magazzino
@model List<ModelloGiacenzaModel>
@{
    ViewBag.Title = "Magazzini Campionario";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="content-top">
    <h2>Magazzino - Campionario</h2>
</div>
<div>
    <div><h4>Giacenze esistenti</h4></div>
    <div class="row">
        <div class="col-sm-2">
            <label>Codice</label>
        </div>
        <div class="col-sm-2">
            <label>Finitura</label>
        </div>
        <div class="col-sm-2">
            <label>Piano</label>
        </div>
        <div class="col-sm-1"><input type="button" onclick="Trova();" class="btn btn-primary" value="Trova" /></div>
        <div class="col-sm-1"><input type="button" onclick="Esporta();" class="btn btn-primary" value="Esporta Excel" /></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <input type="text" id="txtCodice" />
        </div>
        <div class="col-sm-2">
            <input type="text" id="txtFinitura" />
        </div>
        <div class="col-sm-2">
            <input type="text" id="txtPiano" />
        </div>
    </div>
</div>
<label class="text-red" id="lblMessage"></label>
<div style="overflow-y:auto; overflow-x:hidden; height:600px; padding-left:10px">
    <div class="row" id="divRisultati"></div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {
        Trova();
    });

    function Trova()
    {
        var esegui = true;
        var messaggio = '';
        var codice = $('#txtCodice').val();
        var finitura = $('#txtFinitura').val();
        var piano = $('#txtPiano').val();

        $('#lblMessage').html(messaggio);
        if (!esegui)
        {
            return;
        }

        var url = '@Url.Action("TrovaCampioni", "Magazzino")';
        $.ajax({
            url: url,
            data: {
                Codice: codice,
                Finitura: finitura,
                Piano:piano
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();

            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function Esporta()
     {

        var url = '@Url.Action("ReportCampionario", "Magazzino")';

        var win = window.open(url, '_blank');
        win.document.title = "Report";
        win.focus();
    }
</script>
