@{
    ViewBag.Title = "Mail Dispatcher Admin";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="content-top">
    <h2>Magazzino - Giacenze</h2>
</div>
<div style="overflow-y:auto; overflow-x:hidden; height:750px; padding-left:10px">
    <div class="row">
        <div class="col-sm-1"><label>Modello</label></div>
        <div class="col-sm-2">@Html.TextBox("txtModello", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
        <div class="col-sm-1"><input type="button" onclick="Trova();" class="btn btn-primary" value="Trova" /></div>
    </div>
    <label class="text-red" id="lblMessage"></label>
    <div class="row" id="divRisultati"></div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {

    });

    function Trova()
    {
        var esegui = true;
        var messaggio = '';
        var modello = $('#txtModello').val();
        if (modello == null || modello == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il modello da cercare" + "</br>";
            esegui = false;
        }

        $('#lblMessage').html(messaggio);
        if (!esegui)
        {
            return;
        }

        var url = '@Url.Action("TrovaModello", "Magazzino")';
        $.ajax({
            url: url,
            data: {
                Modello: modello
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();

            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function SalvaGiacenza()
    {
        var modello = $('#txtModello').val();
        var data = [];
        var trs = $('#tblGiacenze >tbody >tr');
        for (i = 0; i < trs.length; i++)
        {
            var tr = trs[i];
            var IDMAGAZZ = $(".hdIDMAGAZZ", tr).val();
            var checkbox = $(".RWCHECK", tr);
            var checked = $(checkbox).prop('checked');
            var giacenza = $(".RWGIACENZA", tr).val();
            if (giacenza == null || giacenza == '') giacenza = 0;
            var elemento = {
                'Checked': checked, 'IDMAGAZZ': IDMAGAZZ, 'Giacenza': giacenza
            };
            data.push(elemento);
        }

        var giacenze = JSON.stringify(data);

        $('#lblMessage').html('');

        var url = '@Url.Action("SalvaGiacenza", "Magazzino")';
        $.ajax({
            url: url,
            data: {
                Giacenze: giacenze,
                Modello:modello
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();

            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>